<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDisplay</title>
    <style>
        body {
        padding: 10%;
        background-color: black;
        color: white;
        font-size: 69%;
      }
    </style>
</head>
<body>
   <h1>Welcome to PokeDisplay</h1>
   <table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 49.6688%;">NAME</td>
    <td style="width: 39.404%;">Type/Types</td>
    <td style="width: 10.9271%;">Number</td>
    </tr>
    </tbody>
    </table>
    <table style="border-collapse: collapse; width: 49.7793%;" border="1">
    <tbody>
    <tr>
    <td style="width: 44.9221%;">Category</td>
    <td style="width: 11.8566%;">Height</td>
    <td style="width: 12.8471%;">Weight</td>
    </tr>
    </tbody>
    </table>
    <table style="border-collapse: collapse; width: 49.7792%; height: 256px;" border="1">
    <tbody>
    <tr style="height: 256px;">
    <td style="width: 50%; height: 256px;">BASE STATS</td>
    <td style="width: 50%; height: 256px;">
    <p>WEAK:</p>
    <p>&nbsp;</p>
    <p>IMMUNE:</p>
    <p>&nbsp;</p>
    <p>RESISTANT:</p>
    </td>
    </tr>
    </tbody>
    </table>
</body>